.content {
  width: 80%;
  color: black;
  margin-left: 10%;

}

.preloader {
  background-image: url( '../img/wp.jpg' );
}

.inputs {
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 4px;
}
.sdk-list {
  margin-left: 20px;
}

.sdk-item {
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 4px;
}